{% extends 'home.html' %}
{% block content %}
<div class="container-fluid">
  <div class="card shadow">
    <!-- Card Header - Dropdown -->
    <div class="bg-gray-900 text-white card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold ">Listado de Usuarios</h6>
      <button class="btn btn-primary" id="btn-add-user" data-url=""><i class="fa fa-plus-circle "></i>&nbsp;Nuevo Usuario</button>
    </div>
    <!-- Card Body -->
    <div class="card-body ">

      <table class="table  table-hover dt-responsive" id="user-table" style="width: 100%;">
        <thead>
          <tr>
            <th class="all">Id</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Imagen</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </thead>



      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block js_page %}
<script>
  const user_table = $("#user-table").DataTable({
    responsive: true,
    ajax: {
      url: "{% url 'users:list_users' %}",
      type: "POST",
      data: {
        "action": "searchData"
      },
      dataSrc: ""
    },
    "lengthMenu": [
      [5, 10, 25, 50, -1],
      [5, 10, 25, 50, "All"]
    ],
    "language": {
      "sSearch": "Buscar",
      "emptyTable": "No hay datos disponibles para esta tabla",
      "lengthMenu": "Mostrando _MENU_ entradas",
      "loadingRecords": "Cargando...",
      "processing": "Procesando...",
      "zeroRecords": "No se encontraron resultados",
      "info": "Mostrando _START_ al _END_ de _TOTAL_ entradas",
      "infoEmpty": "Mostrando 0 al 0 de 0 entradas",
    },
    "order": [
      [0, 'asc']
    ],
    columns: [{
          "data": 'id',
          className: "text-center middle",
        },
        {
          "data": 'first_name',
          className: "middle"
        },
        {
          "data": 'last_name',
          className: "middle"
        },
        {
          "data": 'username',
          className: "middle"
        },
        {
          "data": 'date_joined',
          className: "middle"

        },
        {
          "data": 'image',
          className: "text-center middle",
          render: function (data, type, row) {
            return "<img src='" + row.image +
              "' class='img-fluid mx-auto d-block img' id='' style='width:40px;height:40px;'>"

          }
        },
        {
          "data": 'is_superuser',
          className: "estado middle",
          render: function (data, type, row) {
            if (data) {
              return "Administrador";
            } else {
              return "Usuario"
            }
          }
        },
        {
          "data": 'is_active',
          className: "estado middle",
          render: function (data, type, row) {
            if (data) {
              return "Activo";
            } else {
              return "Inactivo"
            }
          }
        },
        {
          "data": 'id',
          className: "text-center middle"
        },


      ],
    columnDefs: [{
        targets: [-1],
        render: function (row, data, index) {
          var buttons =
            '<button class="btn btn-warning btn-circle btn-edit-user mr-1"  role="button" data-url="edit/' +
            index.id +
            '"><i class="far fa-edit" ></i></button><button class="btn btn-success btn-circle"  target="reportes"><i class="fas fa-thumbs-up"></i></button>';

          return buttons;

        },

      },


    ],
    "createdRow": function (row, data, index) {
      if (!data["estado"]) {
        $('.btn-success', row).eq(0).removeClass().addClass("btn btn-danger btn-circle")
        $(".fa-thumbs-up", row).eq(0).removeClass().addClass("fas fa-thumbs-down")

      }
    },

  });
  document.getElementById('btn-add-user').addEventListener("click", function (e) {  
    e.preventDefault()
    var template = e.target.dataset.url;
    var jc = $.confirm({
      title: "Nuevo usuario",
      content: "URL:{% url 'users:create_user' %}",
      columnClass: 'col-xl-10 col-lg-8 col-md-8 col-sm-10',
      icon: "fa fa-plus-circle",
      type: "blue",
      animateFromElement: true,
      buttons: {
        formSubmit: {
          text: 'Registrar Usuario',
          btnClass: 'btn-blue',
          action: function () {       
            form = this.$content
            // let name = form[0].ownerDocument.getElementById("id_name")
            // let ruc = form[0].ownerDocument.getElementById("id_ruc")
            // let invalid_ruc = form[0].ownerDocument.getElementById("invalid_ruc")
            // let invalid_name = form[0].ownerDocument.getElementById("invalid_name")
            console.log(form);
            let data= new FormData(form[0].ownerDocument.forms[2])
            fetch("{% url 'users:create_user' %}", {
              method: "POST",
              headers: {
                'X-CSRFToken': csrftoken
              },
              body: data
              
            }).then(data => data.json()).then(response => {
                console.log(response);
              if(response.hasOwnProperty("error")){
                console.log("if");
                // if(response.error.name){
                //   name.classList.add("is-invalid")
                //   invalid_name.innerHTML=response.error.name[0]
                // }
                // if(response.error.ruc){
                //   ruc.classList.add("is-invalid")
                //   invalid_ruc.innerHTML=response.error.ruc[0]                
                // }
              }else{
                  
                    jc.close()
                    messages(2000,"Éxito","success","Empresa guardada")

                    user_table.ajax.reload()            
              }
            })
              return false;
          }
        },
        cancel: function () {},
      },
    });
  });

  let btnEdit=document.getElementsByClassName("btn-edit-business")

  $(document).on("click",'.btn-edit-user', function (e) {
      
    e.preventDefault()
    console.log("click");
    var tr = user_table.cell($(this).closest("td")).index();
    var data = user_table.row(tr.row).data();
    console.log(data);
    de = $.confirm({
      title: "Editar Cliente",
      content: "URL:edit/" + data.id,
      columnClass: 'col-xl-10 col-lg-5 col-md-8 col-sm-10',
      icon: "fa fa-edit",
      type: "orange",
      scrollToPreviousElement: true,
      scrollToPreviousElementAnimate: true,

      buttons: {
        Confirm: {
          text: 'Guardar cambios',
          btnClass: 'btn-blue',

          action: function url(e) {

            this.$content.find("#form").children("#btnEdit").trigger('click');
            this.$content[0].ownerDocument.getElementById("btnEditUser").click()
            console.log( );
            return false;
          }
        },

        cancel: function () {},
      },



    });
  
  })
</script>
{% endblock js_page %}